body {
    margin: 0;
    padding: 0;
}

.all {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 10px;
}

.users {
    width: 49%;
    justify-content: center;
    border: 3px solid #b70b0b;
    outline: 2px solid #b7af09;
    border-radius: 10px;
    display: flex;
    background-color: aqua;
}

.posts {
    width: 49%;
    justify-content: center;
    border: 3px solid #b70b0b;
    outline: 2px solid #b7af09;
    border-radius: 10px;
    display: flex;
    background-color: aqua;
}

.comments {
    width: 100%;
    justify-content: center;
    border: 3px solid #b70b0b;
    outline: 2px solid #b7af09;
    border-radius: 10px;
    display: flex;
    background-color: aqua;
}
